
@import '~@fortawesome/fontawesome-free/css/all.css';
body {
   
    background-image: linear-gradient(to right,rgb(61, 190, 193) 0%, rgb(31, 62, 134) 100%);
  }
    
  
  

*{
  box-sizing: border-box;
}
.title{
    background-color: brown;
}

    
    .logo-img{
      width: 80px;
      height: 80px;
      border: 5px solid rgba(14, 74, 158, 0.799); 
      border-radius: 10% 40%;
     
    }
  
    .landing-page-background{
      background: rgb(212, 211, 222);
      background: linear-gradient(90deg, rgb(208, 206, 238) 0%, rgba(230, 191, 236, 0.239) 35%, rgb(156, 227, 241) 100%);
    
    }
    .jumbotron h1{
      font-family: Arial, Helvetica, sans-serif;
      font-family: Verdana;
      color:rgba(14, 74, 158, 0.799);   
      font-weight: 900;
      font-size: 48px;
      padding: 20px;
     
      
    }

    .land-page-search-col{
      margin-top: 70px;
      line-height: 1.5;
      font-weight: bolder;
      color: rgba(14, 74, 158, 0.799);  
      padding-right: 0;
      padding-left: 0;
    }
    .landing-page-image{
      
      position: relative;
      display: inline-block;
      box-shadow: inset;
      padding-right: 0;
      padding-left: 0;
      }
    .landing-page-image::before {
        content: "";
        position: absolute;
        top: -5px; 
        left: -300px; 
        width: 300px; 
        height: 300px; 
        background-color: rgb(247, 220, 70); 
        z-index: -1; 
        border-radius: 46% 54% 5% 95% / 29% 49% 51% 71%;
        transform: rotate(-10deg);
      }
      
      .landing-page-image::after {
        content: "";
        position: absolute;
        top: 100px; 
        left: -300px; 
        transform: translate(-50%, -50%);
        width: 300px; 
        height: 300px;
        background-color: rgb(45, 45, 236); 
        z-index: -2;
        border-radius: 46% 54% 5% 95% / 29% 49% 51% 71%;
        transform: rotate(-60deg);
      }
        
    .form-border{

        border-radius: 0px 50px 0px;
    }
    .title-border{
        border: rgb(136, 222, 136) solid 1px;
        border-radius: 0px 50px 0px;
        padding: 5px;
        color: #fff;

    }
    .form-btn-border{
        border-radius: 0px 50px 0px; 
    }
    .img-fluid{
        width: 50px;
        height: 50px;
       }
       .img-fluid-card{
        width: 100px;
        height: 100px;
        margin: 10px;
       }
    .landing-cards:hover{
      transform: scale(1.02);
     
    }
    .landing-cards{
      background-color: rgb(210, 210, 235);
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    
      .btn-outline-info:hover span{
        color: rgb(255, 255, 237);
      } 
      .find-job:hover{
        color: rgb(255, 255, 237);
      }
     .register_btn:hover{
      color: rgb(255, 255, 237);
     }
     /* td, th{
      vertical-align: middle;
     } */
     .card-image-size{
      height: 150px; 
      width: 200px; 
      object-fit: cover;
     }
     .sign-in{
      
      margin-top: 50px;
      width: 300px; 
      border-radius: 20px;
      padding: 20px;
     }
     .sign-in-input{
      border-radius: 20px;
     }
    .user-icon{
      width:50px;
      align-items:center;
      
    }
   
    .testimonial {
      padding: 20px;
      margin: 30px auto;
      background-color: rgb(12, 8, 66);
      
      border-radius: 5px;
      text-align: center;
      /* border: #fff 1px solid; */
      color: #fff;
    }

    .testimonial .author {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .testimonial .content {
      font-style: italic;
    }
    .container-sign-in,.container-sign-up{
      position: relative;
      display: inline-block;
      width: 100%;
    }
    .sign-in-wave,.sign-up-wave{
      position:absolute;
      top: 200px;
      left: 0;
      z-index: -1;
      width: 100%;
    
    }
    
     .sign-up{
      margin-top: 50px;
      width: 300px; 
      border-radius: 20px;
     }
     .sign-up-input{
      border-radius: 20px;
     }
     .search-form{
      background-color: rgb(172, 208, 240);
     }
    .search-page-container{
      margin-top: 40px;
      margin-bottom: 10px;
      gap: 10px; 
    }
    /* .card {
      display: flex;
      flex-direction: column;
      height:  300px !important;
    } */
     .card{
      display: flex;
      justify-content: center;
      gap: 10px; 
      margin: 10px;
     }


   
     .card-container-landing{
      display: flex;
      justify-content: center;
      gap: 10px; 
     }
    .job-card-container{
      background-color: rgb(202, 202, 242);
    }
     .job-card {
      transition: transform 0.3s;
    }
    
    .job-card:hover {
      transform: scale(1.2);
    }
    .job-info {
      padding: 10px;
      border-radius: 20px;
     
     
    }
    .admin-page{
      color: #fff;
    }
    
    .fa-solid{
      font-size: 48px;
      color: rgb(30, 27, 142);
      margin-bottom: 30px;
    }
    .landing-cards{
      height: 350px;
    }
    .landing-card-title, .landing-card-text{
      color: rgb(30, 27, 142);
    }
    .img-testimon{
      width: 200px;
      height: 200px;
    }
    
    .details-pages{
      margin-top: 50px;
    }
    .wave{
     
      /* background-color: rgba(229, 229, 243, 0.837); */
      padding-right: 0;
      padding-left: 0;
      
     
    }

   
    .wave-col{
     
      position: relative;
      display: inline-block;
    } 
    .wave-line{
      width: 100%;
    }
    .img-wave{
          position: absolute;
          top: -70px; 
          right: 400px; 
          width: 400px; 
          height: 400px; 
          z-index: 1;
    }
    .img-wave_1{
          position: absolute;
          top: -40px; 
          right: 750px; 
          width: 300px; 
          height: 300px; 
          z-index: 1;
    }
    a > .bi{
      font-size: 36px;
      color: rgb(30, 27, 142);
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
      .wave-col{
     
        position: relative;
        display: inline-block;
       
      } 
      .img-wave{
            position: absolute;
            top: -30px; 
            right: 25%; 
            width: 250px; 
            height: 250px;
      }
      .img-wave_1{
            position: absolute;
            top: -30px; 
            right: 50%; 
            width: 250px; 
            height: 250px; 
            z-index: 1;
      }
    }

    @media (min-width: 768px) and (max-width: 991px){

      .wave-col{
     
        position: relative;
        display: inline-block;
      } 
      .img-wave{
            position: absolute;
            top: -30px; 
            right: 25%; 
            width: 200px; 
            height: 200px;
      }
      .img-wave_1{
            position: absolute;
            top: -30px; 
            right: 50%; 
            width: 200px; 
            height: 200px; 
            z-index: 1;
      }
    }



    @media (min-width: 481px) and (max-width: 767px) {
     
      .btn {
        padding: 5px 20px;
      }
      .landing-page-image{
      
        position: relative;
        display: inline-block;
        box-shadow: inset;
        }
      .landing-page-image::before {
          content: "";
          position: absolute;
          top: -100px; 
          left: -10px; 
          width: 200px; 
          height: 200px; 
          background-color: rgb(247, 220, 70); 
          z-index: -1; 
          border-radius: 46% 54% 5% 95% / 29% 49% 51% 71%;
          transform: rotate(-10deg);
        }
        .landing-page-image::after {
          content: "";
          position: absolute;
          top: -200px; 
          left: -10px; 
          transform: translate(-50%, -50%);
          width: 200px; 
          height: 200px;
          background-color: rgb(45, 45, 236); 
          z-index: -2;
          border-radius: 46% 54% 5% 95% / 29% 49% 51% 71%;
          transform: rotate(-60deg);
        }
  
      .wave-col{
     
      position: relative;
      display: inline-block;
    } 
    .img-wave{
          position: absolute;
          top: -40px; 
          right: 20%; 
          width: 150px; 
          height: 150px; 
          z-index: 1;
    }
    .img-wave_1{
          position: absolute;
          top: -30px; 
          right: 50%; 
          width: 130px; 
          height: 130px; 
          z-index: 1;
    }
    
    }
    
   @media (min-width: 375px) and (max-width: 480px) {
     
      .btn {
        padding:  5px 20px;
      }
      .landing-page-image{
      
        position: relative;
        display: inline-block;
        box-shadow: inset;
        }
      .landing-page-image::before {
          content: "";
          position: absolute;
          top: -100px; 
          left: -10px; 
          width: 200px; 
          height: 200px; 
          background-color: rgb(247, 220, 70); 
          z-index: -1; 
          border-radius: 46% 54% 5% 95% / 29% 49% 51% 71%;
          transform: rotate(-10deg);
        }

        .wave-col{
     
          position: relative;
          display: inline-block;
        } 
        .img-wave{
              position: absolute;
              top: -20px; 
              right: 25%; 
              width: 120px; 
              height: 120px; 
              z-index: 1;
        }
        .img-wave_1{
              position: absolute;
              top: -20px; 
              right: 50%; 
              width: 110px; 
              height: 110px; 
              z-index: 1;
        }
  
      
    }
    @media (max-width: 374px){
      .btn {
        padding:  5px 20px;
      }
      .landing-page-image{
      
        position: relative;
        display: inline-block;
        box-shadow: inset;
        }
      .landing-page-image::before {
          content: "";
          position: absolute;
          top: -100px; 
          left: -10px; 
          width: 200px; 
          height: 200px; 
          background-color: rgb(247, 220, 70); 
          z-index: -1; 
          border-radius: 46% 54% 5% 95% / 29% 49% 51% 71%;
          transform: rotate(-10deg);
        }

        .wave-col{
     
          position: relative;
          display: inline-block;
        } 
        .img-wave{
              position: absolute;
              top: -30px; 
              right: 20%; 
              width: 120px; 
              height: 120px; 
              z-index: 1;
        }
        .img-wave_1{
              position: absolute;
              top: -30px; 
              right: 50%; 
              width: 110px; 
              height: 110px; 
              z-index: 1;
        }
  
    }
   
    
    
    
    
    